
# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:covidtracker.nyc
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^covidtracker.nyc$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:covidtracker.nyc
